body{
    font-family: Arial;
    background:#f4f4f4;
    margin:0;
    padding:20px;
}

.container{
    width:400px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    margin-top:40px;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    background:#007bff;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

.post{
    background:white;
    padding:20px;
    margin:20px auto;
    border-radius:10px;
    width:500px;
}

.comment{
    background:#eee;
    padding:10px;
    margin-top:10px;
}